@import "~antd/dist/antd.css";

.App {
  width: 1800px;
  display: block;
  margin: 0px auto;
  margin-top: 25px;
}

.Products {
  margin-left: 350px;
  margin-top: 5px;
  width: calc(100% - (100% / 6) * 2);
}

.Slider {
  margin-top: 20px;
  margin-left: 41%;
}

.Slidercontent {
  width: 300px;
  margin: 0 auto;
}

.Text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddProductBtn {
  width: 50px;
  margin-left: 40px;
}
