.AddWithUpImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.Btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Text_AddUpdateProd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Btns {
  margin-bottom: 100px;
}
