.GreenLine {
  height: 40px;
  background-color: #bece39;
}

.PayDiv {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  /* position: relative; */

  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.DetailsBlock {
  width: 1050px;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  z-index: 4;
  border-radius: 15px;
  background-color: white;
}

.PayBlock {
  width: 650px;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  z-index: 4;
  border-radius: 15px;
  background-color: white;
  margin-right: 40px;
}

.DetailsLine {
  border-bottom: 1px solid #bece39;
  height: 10px;
}

.PayLine {
  border-bottom: 1px solid #bece39;
  height: 10px;
}

.DetailsBlock .Header {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: large;
}

.PayBlock .Header {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: large;
}
